/* General styles */
body{
    font-family: 'Segoe UI', Tahoma, sans-serif;
    padding: 0;
    margin: 0;
}

/* Navbar styles */
.bg-sky {
  background-color: #8fe7ff;
}



/* images section */

.home-images img{
    height: 230px;
    object-fit: cover;
}




/* footer styles */
.footer {
  font-size: 0.9rem;
}
