/* General styles */
body{
    font-family: 'Segoe UI', Tahoma, sans-serif;
    padding: 0;
    margin: 0;

}

/* Navbar styles */
.bg-sky {
  background-color: #8fe7ff;
}



/* images section */

.home-images img{
    height: 230px;
    object-fit: cover;
}


/* search section */

.search-box {
  background-color: #ffa640;
  border-radius: 35px;
}

.search-title {
  color: #ffe6a7;
  font-weight: 300;
}

.search-input {
  height: 45px;
  border-radius: 8px;
  border: none;
}

.search-btn {
  background-color: #ff5a5a;
  color: white;
  border-radius: 8px;
}

/* SECTION TITLES */
.section-title {
  color: #bdbdbd;
  font-weight: 400;
}

/* PLACE CARDS */
.place-card {
  display: flex;
  align-items: center;
  gap: 15px;
  background: #fff;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.place-card:hover {
  transform: translateY(-3px);
}

.place-card img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  object-fit: cover;
}

.place-card h6 {
  margin: 0;
  font-size: 0.95rem;
}

.place-card small {
  color: #777;
}

.place-card.active {
  outline: 3px solid #ff5a5a;
  transform: translateY(-2px);
}


/* MAP */
.map-container {
  height: 300px;
  width: 100%;
  border-radius: 12px;
}

/* Places styles */
.place-details {
  background: #fff;
  padding: 16px;
  border-radius: 12px;
  margin-top: 15px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
}

.place-details img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}


/* footer styles */
.footer {
  font-size: 0.9rem;
}


/* mobile media query */

@media (max-width: 768px) {
  .search-title {
    font-size: 1.6rem;
    text-align: center;
  }
}