/* General styles */
body{
    font-family: 'Segoe UI', Tahoma, sans-serif;
    padding: 0;
    margin: 0;
}

/* Navbar styles */
.bg-sky {
  background-color: #8fe7ff;
}



/* images section */

.home-images img{
    height: 230px;
    object-fit: cover;
}


/* search section */

.search-section{
    background-color: #FFA239;
    border-radius: 35px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}




/* footer styles */
.footer {
  font-size: 0.9rem;
}
